<ul>
  <li>{{#link-to 'posts'}}Home{{/link-to}}</li>
  <li>{{#link-to 'user' current.user}}Profile{{/link-to}}</li>
  <li>{{#link-to 'users'}}Users{{/link-to}}</li>
  <li>{{#link-to 'login'}}Log In{{/link-to}}</li>
  <li>{{#link-to 'sign-up'}}Sign Up{{/link-to}}</li>
</ul>

{{outlet}}