  <div>
    <h1>LogIn</h1>
    <p>
      Email: {{input type='email' value=model.email}}<br>
      Password: {{input type='password' value=model.password}}<br>
    </p>
  </div>
  <div>
    <button {{action 'login'}}>Log In</button>
  </div>
